/* Footer */
footer {
    background-color: #2c3e50; /* Fondo oscuro para el footer */
    color: #56CCF2; /* Celeste para el texto del footer */
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin: 0;
}